<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/security.js"></script>
<title>账号安全</title>
</head>
<body>

<h1><a href="/">PP Team</a></h1>
<hr/>
<h3>请验证您的密码及密保问题</h3>
<div id="pass">请输入原密码</div>
<input id="passval" type="password"/>
<hr/>
<div id="q1">问题一：</div>
<div id="q1val"></div>
<div id="a1">回答</div>
<div><input id="a1val"/></div>
<hr/>
<div id="q2">问题二</div>
<div id="q2val"></div>
<div id="a2">回答</div>
<div><input id="a2val"/></div>
<hr/>
<div id="q3">问题三</div>
<div id="q3val"></div>
<div id="a3">回答</div>
<div><input id="a3val"/></div>
<hr/>
<button id="btn">验证</button>
</body>
</html>